body{
    background-image: url('../images/shattered-island.gif');
    background-attachment: fixed;
}
nav ul{
    
    float: right;
}
nav li{
display:inline-block;
color:aliceblue;
font-size: 20px;
padding-top: 50px;
padding-right: 70px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav a {
    text-decoration: none;
    color: aliceblue;
    
}
nav a:hover{
    text-decoration: solid;
    color: darkorange;
}
.cont{
    margin: auto;
    color: aliceblue;
    text-align: center;
    
}
/* pour l'avis*/
.avis b{
    
    font-size: 20px;
}
.avis{
    background-image: url('../images/newsletter.jpg');
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.cont_avis{
    background-color: red;
}
.cont_avis button{
    background-color: #24c7d3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  
}
.cont_avis button:hover {
    background-color: white;
    color: #24c7d3;
    border: 1px solid #24c7d3;
}
.cont_avis textarea{
    width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   color: aliceblue;
   font-size: 12px;
}